.App {
    /* text-align: center; */
    background-color: #7391cc;
    /* background-color: #282c34; */
    /* min-height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    /* color: white; */
}

.FLAG {
    margin: 1em;
    height: 150px;
    width: 200px;
    float: left;
}

.belgium {
    background: linear-gradient( to right, black 33%, yellow 33%, yellow 66%, red 66%);
}

.spain {
    background: linear-gradient( to bottom, red 25%, yellow 25%, yellow 75%, red 75%);
}

.czech {
    background: linear-gradient(to bottom, white 50%, red 50%);
}

.czech .triangle {
    width: 0;
    height: 0;
    border-left: 75px solid blue;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
}

.denmark {
    background: linear-gradient( to right, rgba(255, 255, 255, 0) 25%, white 25%, white 33%, rgba(255, 255, 255, 0) 33%), linear-gradient(to bottom, red 45%, white 45%, white 55%, red 55%);
}

.cuba {
    background: linear-gradient( to bottom, royalblue 20%, white 20%, white 40%, royalblue 40%, royalblue 60%, white 60%, white 80%, royalblue 80%, royalblue 80%);
}

.cuba .triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 100px solid red;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
}

.cuba .triangle .star-wrap {
    position: absolute;
    left: -160px;
    top: -85px;
    transform: scale(0.25);
}

.cuba .triangle .star-wrap .star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

.cuba .triangle .star-wrap .star::before {
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.cuba .triangle .star-wrap .star::after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    content: "";
    transform: rotate(-70deg);
}

.china {
    background-color: red;
}

.china .star1,
.china .star2,
.china .star3,
.china .star4,
.china .star5 {
    position: relative;
}

.china .star1 {
    top: -50px;
    left: -65px;
    transform: scale(0.2);
}

.china .star2 {
    left: -30px;
    top: -190px;
}

.china .star3 {
    left: -10px;
    top: -295px;
}

.china .star4 {
    left: -10px;
    top: -394px;
}

.china .star5 {
    left: -30px;
    top: -500px;
}

.china .star2,
.china .star3,
.china .star4,
.china .star5 {
    transform: scale(0.08);
}

.china .inner-star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

.china .inner-star::before {
    border-bottom: 80px solid yellow;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.china .inner-star::after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    content: "";
    transform: rotate(-70deg);
}

.greenland {
    background: linear-gradient(to bottom, white 50%, red 50%);
}

.greenland::after {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: block;
    position: relative;
    top: 50%;
    margin-top: -35px;
    left: 20%;
    content: "";
    background: linear-gradient(to bottom, red 50%, white 50%);
}

.congo {
    background: linear-gradient( 146deg, #368ee0 43%, yellow 43%, yellow 48%, red 48%, red 58%, yellow 58%, yellow 63%, #368ee0 63%);
}

.congo .star {
    position: relative;
    top: -40px;
    left: -55px;
    transform: scale(0.25);
}

.congo .star .inner-star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}

.congo .star .inner-star::before {
    border-bottom: 80px solid yellow;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.congo .star .inner-star::after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    content: "";
    transform: rotate(-70deg);
}

.qatar {
    background: linear-gradient(to right, white 30%, #a72215 30%);
    position: relative;
    overflow: hidden;
}

.qatar .triangle1,
.qatar .triangle2,
.qatar .triangle3,
.qatar .triangle4,
.qatar .triangle5,
.qatar .triangle6,
.qatar .triangle7,
.qatar .triangle8,
.qatar .triangle9 {
    width: 0;
    height: 0;
    position: relative;
    border-top: 25px solid transparent;
    border-left: 110px solid white;
    border-bottom: 25px solid transparent;
}

.qatar .triangle1 {
    top: -1px;
    border-top: none;
}

.qatar .triangle2 {
    top: -28px;
}

.qatar .triangle3 {
    top: -56px;
}

.qatar .triangle4 {
    top: -83px;
}

.qatar .triangle5 {
    top: -110px;
}

.qatar .triangle6 {
    top: -137px;
}

.qatar .triangle7 {
    top: -162px;
}

.qatar .triangle8 {
    border-bottom: none;
    top: -186px;
}

.jamaica {
    background: yellow;
}

.jamaica::before,
.jamaica::after,
.jamaica .triangleL,
.jamaica .triangleR {
    position: relative;
    width: 0;
    height: 0;
}

.jamaica::before,
.jamaica::after {
    content: "";
    left: 11px;
    border-left: 88px solid transparent;
    border-right: 88px solid transparent;
}

.jamaica::before {
    top: 65px;
    border-top: 65px solid green;
}

.jamaica::after {
    bottom: 201px;
    border-bottom: 67px solid green;
}

.jamaica .triangleL,
.jamaica .triangleR {
    border-top: 62px solid transparent;
    border-bottom: 62px solid transparent;
}

.jamaica .triangleL {
    border-left: 85px solid black;
    top: -5px;
}

.jamaica .triangleR {
    border-right: 85px solid black;
    right: -114px;
    top: -128px;
}

.VC {
    background: linear-gradient( to right, blue 27%, yellow 27%, yellow 73%, green 73%);
}

.VC .caro1,
.VC .caro2,
.VC .caro3 {
    transform: scale(0.3);
    position: relative;
}

.VC .caro1 {
    left: -5px;
}

.VC .caro2 {
    left: 36px;
    top: -130px;
}

.VC .caro3 {
    left: 15px;
    top: -230px;
}

.VC .caro {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 80px solid green;
    position: relative;
    top: -50px;
}

.VC .caro::after {
    content: "";
    position: absolute;
    left: -50px;
    top: 78px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 80px solid green;
}

.scotland {
    background: linear-gradient( 144deg, transparent 45%, transparent 45%, white 45%, white 45%, white 55%, transparent 55%, transparent 55%), linear-gradient( 37deg, royalblue 45%, royalblue 45%, #ffffff 45%, #ffffff 45%, #ffffff 55%, royalblue 55%, royalblue 55%);
}

.pakistan {
    background: linear-gradient(to right, white 25%, #01411c 25%);
    position: relative;
}


/*

    &:before,
    &:after {
        content: "";
        position: absolute;
    }
    &:before {
        background: white;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: 40%;
        top: 20%;
    }
    &:after {
        background: #01411C;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        left: 48%;
        top: 13%;
    }
    .star {
        z-index: 500;
        position: relative;
        display: block;
        width: 0px;
        height: 0px;
        left: 50px;
        top: 20px;
        border-right: 100px solid transparent;
        border-bottom: 70px solid white;
        border-left: 100px solid transparent;
        -webkit-transform: rotate(20deg) scale(.2);
        transform: rotate(20deg) scale(.2);
        &:before {
            border-bottom: 80px solid white;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            position: absolute;
            height: 0;
            width: 0;
            top: -45px;
            left: -65px;
            display: block;
            content: '';
            -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
        }
        &:after {
            position: absolute;
            display: block;
            color: red;
            top: 3px;
            left: -105px;
            width: 0px;
            height: 0px;
            border-right: 100px solid transparent;
            border-bottom: 70px solid white;
            border-left: 100px solid transparent;
            content: '';
            -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
        }
    }
}
*/